# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.iml

# Env
.env
.env.*
!.env.example

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
foglm.iml
.metadata

# Android
android/.gradle/
android/local.properties
android/**/gradle-wrapper.jar

# iOS
ios/Flutter/ephemeral/
ios/Pods/
ios/.symlinks/

# Firebase
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
lib/firebase_options.dart
